<h1>New business</h1>

<% form_for(@business) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nick %><br />
    <%= f.text_field :nick %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :country_id %><br />
		<%= f.select :country_id, Country.find_for_select %>
  </p>
  <%# fields_for "business[user_association_attributes]", @business.user_associations do |ua| %>
		<%#= ua.hidden_field :user_id, :value => session[:user_id] %>
		<%#= ua.hidden_field :administrator, :value => true %>
  <%# end %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', businesses_path %>
