<h1>Listing messages</h1>

<table>
  <tr>
    <th>Recipient</th>
    <th>Sender</th>
    <th>Subject</th>
    <th>Body</th>
    <th>Message type</th>
    <th>Readed</th>
  </tr>

<% for message in @messages %>
  <tr>
    <td><%=h message.recipient_id %></td>
    <td><%=h message.sender_id %></td>
    <td><%=h message.subject %></td>
    <td><%=h message.body %></td>
    <td><%=h message.message_type %></td>
    <td><%=h message.readed %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New message', new_message_path %>
