<div id="workspace-header1" style="background-color: #303030;">
	<div id="blue-icons">
		<%# New Business %>
		<%= link_to image_tag('/images/001_01.png', :size => "16x16"), new_message_path %>
	</div>
	<%# workspace-header1 title %>
	<strong>Listing messages</strong>
</div>

<table style="width:100%">
  <tr>
    <th>Recipient</th>
    <th>Sender</th>
    <th>Subject</th>
  </tr>

<% for message in @messages %>
	<% if message.read %>
  	<tr>
	<% else %>
		<tr style="font-weight: bold;">
	<% end %>
    <td><%=h message.find_user(message.recipient_id).login %></td>
    <td><%=h message.find_user(message.sender_id).login %></td>
    <td width="75%">
			<% if message.read  %>
				<%= link_to message.subject, message %>
			<% else %>
				<%= link_to message.subject, edit_message_path(message) %>
			<% end %>
		</td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New message', new_message_path %>
