<div id="workspace-header-black">
	<div id="blue-icons">
		<%= link_to 'Back', messages_path %>
	</div>
	<strong>New message</strong>
</div>

<% form_for(@message) do |f| %>
  <%= f.error_messages %>

	<p>
    <%= f.label :recipient_id %>
    <%#= text_field :recipient, :name, :size => 39 %>
		<%= f.select(:recipient_id, @message.find_users(session[:business_id])) %>
		<%= f.hidden_field :sender_id, :value => current_user.id %>
    <%= f.label :message_type %>
    <%= f.select :message_type, { :normal => 0 } %>
	</p>
	<p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject, :size => 80 %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :rows => 6, :cols => 80 %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', messages_path %>
