<div id="workspace-header-black">
	<div id="blue-icons">
		<%= link_to 'Edit', edit_message_path(@message) %> |
		<%= link_to 'Back', messages_path %>
	</div>
	<strong>Show message</strong>
</div>

<p>
  <b>Recipient:</b>
  <%=h @recipient %>
</p>

<p>
  <b>Sender:</b>
  <%=h @sender %>
</p>

<p>
  <b>Subject:</b>
  <%=h @message.subject %>
</p>

<p>
  <b>Body:</b>
  <%=h @message.body %>
</p>


<p>
<b>Read?:</b>
	<% if @message.read %>
		<%=h @message.read %>
	<% else %>
		false
	<% end %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
