<p>
  <b>Recipient:</b>
  <%=h @recipient %>
</p>

<p>
  <b>Sender:</b>
  <%=h @sender %>
</p>

<p>
  <b>Subject:</b>
  <%=h @message.subject %>
</p>

<p>
  <b>Body:</b>
  <%=h @message.body %>
</p>

<p>
  <b>Readed:</b>
  <%=h @message.readed %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
