<div id="workspace-header1">
	<strong>Welcome to <em>w2task beta</em> - 
	Your Web 2.0 Task Manager</strong>
</div>

<div style="padding:15px;">
	<p>
		<div style="float:left; padding: 0 10px 10px 0;"><%= image_tag("w2task_01.png") %></div>
	<strong><em>Howdy my dear visitor,</em></strong></p>
	<p>
		w2task - is a web 2.0 task & time management web based software, where users can register online, create their own business (company) and projects, than attach efforts to them. In return the users will be able to track their own/team efforts and time spent on a particular project (time sheets) and invoice their customers (planned feature).
	</p>

	<p><div style="float:left;">Why don't you give it a try?<br />
		Everyone can use <em>w2task</em>.</div>
		<div style="float:left; padding:4px;">&nbsp; &nbsp;<%= link_to "#{image_tag "signup.png"}", :controller => "signup" %></div>
	</p>

	<div style="clear:both;"></div>
		
	<p>
	  Should you have any questions, do not hesitate sending me your queries at <em>bojicas - no spam at gmail dot com</em>, quoting <strong>[w2task beta]</strong> in your message subject line.
	</p>

	<p>Are you a mobile user? Login from your mobile phone using <em>http://&lt;businessname&gt;.w2task.com/wair</em>, or use our Adobe Air Application (available soon).</p>

	<p style="font-size:80%">
		We're in the middle of applying the finishing touches to <em>w2task</em>, so please excuse the mess whilst we prepare to launch the service!
	</p>
</div>

<% content_for(:sidebar) do %>
	<div id="flash-wrapper1">
		<% form_tag session_path do -%>
			<fieldset>
				<legend id="legend"><strong>Member? Please, log in!</strong></legend>
				<p>Business: <%= current_subdomain %></p>
				<p><%= label_tag 'login' %><br />
				<%= text_field_tag 'login', @login %></p>

				<p><%= label_tag 'password' %><br/>
				<%= password_field_tag 'password', nil %></p>

				<!-- Uncomment this if you want this functionality -->
				<p><%= label_tag 'remember_me', 'Remember me' %>
				<%= check_box_tag 'remember_me', '1', @remember_me %></p>

				<p><%= submit_tag 'Log in' %></p>
			</fieldset>
		<% end -%>
	</div>
<% end %>
