<%= link_to 'New effort', new_wair_path %>

<table style="background-color:white;">
	<% for effort in @efforts %>
	<tr>
	  <td>
			<div id="avatar">
				<%= image_tag effort.user.avatar.url(:thumb), :size => "24x24" %>
			</div>
		</td>
		<td>
		    <div id="text">
						<%= link_to '"' + truncate(effort.body, { :length => 37 }) + '"', :action => "show", :id => effort.id %>

					<% if effort.stop %>
						<% if effort.billable == true %>
							- billable work
						<% else %>
							- non-billable work
						<% end %>
					<% else %>
						- work in progress
					<% end %>
					<% if effort.project_id %>
						on <%= effort.project.name %>
					<% end %>
					<br />
					Started <%=h  time_ago_in_words(effort.start) %> ago by <%=h effort.user.login %>.
				</div>
			</td>
			<td>
					<div id="duration">
						<%= hh_mm(effort.start, effort.stop) %>
					</div>
			</td>
			<td>
					<% if effort.stop %>
						<% if effort.billable == true %>
							<div id = "status-tag-bw">
								<%= link_to 'bw', edit_wair_path(effort) %>
								<%= image_tag('/images/001_45.png', :size => "16x16") %>
							</div>
						<% else %>
						<div id = "status-tag-nbw">
								<%= link_to 'nbw', edit_wair_path(effort) %>
								<%= image_tag('/images/001_45.png', :size => "16x16") %>
						</div>						
						<% end %>
					<% else %>
						<div id = "status-tag-wip">
								<%= link_to 'wip', edit_wair_path(effort) %>
								<%= image_tag('/images/001_45.png', :size => "16x16") %>
					</div>
					<% end %>
			</td>
	</tr>
	<% end %>
</table>

<%= will_paginate @efforts %>