<% form_for(@effort) do |f| %>
  <%= f.error_messages %>

	<%= f.hidden_field(:user_id, :value => session[:user_id]) %>
	<%= f.hidden_field :business_id, :value => @business.id %>

  <p>
    <%= f.label "Enter your effort body text:" %><br />
    <%= f.text_area :body, :cols => 35, :rows => 4 %>
  </p>
	<p>
  	<%= f.label :start %>
	  <%= f.datetime_select :start %><br />

		<%= f.label :project %>
		<% if session[:project_id] && session[:project_name] %>
    	<%= f.select(:project_id, @effort.find_all_projects(session[:user_id], session[:business_id]), :selected => session[:project_id], :include_blank => true) %>
		<% else %>
    	<%= f.select(:project_id, @effort.find_all_projects(session[:user_id], session[:business_id]), :include_blank => true) %>
		<% end %>
		<%= f.label :billable %>
	  <%= f.check_box :billable %>
	  <br />
	  <%= f.submit "Create" %>
	</p>
<% end %>

<%= link_to '&lt;&lt; Back', :controller => 'wair' %>
