<div id="workspace-header1">
	<div id="efforttitle" style="font-size:12px;"><strong>Show details of effort ID<%= @effort.id %></strong> - <%= truncate(@effort.body, {:length => 37}) %> (by <%= @effort.user.login %>)
	</div>	
</div>
<div style="margin:0; padding:0;">

<p>
  <b>Body:</b>
  <%=h @effort.body %>
</p>

<p>
  <b>Start:</b>
  <%=h @effort.start %>
</p>

<p>
  <b>Stop:</b>
  <%=h @effort.stop %>
</p>

<% if @effort.project_id %>
<p>
  <b>Project:</b>
  <%=h @effort.project.name %>
</p>
<% end %><br />

</div>

<%= link_to 'Edit', edit_wair_path(@effort) %> |
<%= link_to 'Back', :controller => 'wair' %>