<div id="workspace-header-black">
	<div id="blue-icons">
		<%= link_to image_tag('/images/001_01.png', :size => "16x16"), new_user_association_path %>
	</div>
	<strong>Users with access to <%= current_business.name %> (<%= current_subdomain %>)</strong>
</div>

<div id="workspace-body">
	<ul>
		<% for user in @users %>
			<li>
				<div style="width:100%;">
					<div style="float:left;">
						<div id="avatar">
							<%= image_tag user.avatar.url(:thumb), :size => "24x24" %>
						</div>
						<div style="float:left; margin-left:10px;"> &nbsp; <br /> &nbsp; </div>
						<div style="align:left;min-width:450px; margin-left:10px; padding-left:10px;">
							<%=h user.login %> /
					    <%=h user.email %>
							<br />
							<% for user_association in user.user_associations %>
								<% if user_association.business_id == session[:business_id] %>
									<% if user_association.administrator == true %>
										Administrator
									<% else %>
										Normal User
									<% end %>
								<% end %>
							<% end %>
							<%=h "(This is you, and your user id is #{current_user.id}.)" if user.id == session[:user_id] %>
						</div>
					</div>
				
				</div>
				<br /><br /><br />
				<div id="clear-both-top-dotted" style="background-color:#FFFFFF"></div>
		</li>
		<% end %>
	</ul>
	<p>
		&nbsp; &nbsp;<strong>Do you want to add more users to your business?</strong> Then ask your
		co-workers to create an account with <em>W2task</em> and provide you with their user id.
		The user id is displayed in the next screen, after the user logs in. Simple,
		isn't it? For more details, please consult the <%= link_to "Support Center", "http://support.w2task.com", :target => "_blank" %>.
	</p>
</div>
<br />