<div id="workspace-header1">
	<strong>Default Business Information</strong>
</div>
<div>
<%=h @business.nick %></td>
    <td><%=h @business.name %></td>
    <td><%=h @business.description %></td>
    <td><%=h @business.country_id %></td>
</div>

<br />

<%= link_to 'New business', new_business_path %>

<% content_for(:sidebar) do -%>
	<%= render :partial => "sidebar" %>
<% end -%>