<div id="workspace-header-black">
	<strong>Edit user</strong>
</div>

<%= error_messages_for :user %>

<div style="margin:15px;">
	<% form_for @user, :html => { :multipart => true } do |f| -%>
		<%= image_tag @user.avatar.url(:thumb) %>

		<p><%= label_tag 'avatar' %><br/>
		<%= f.file_field :avatar %></p>

		<p><%= label_tag 'login' %><br/>
		<%= f.text_field :login %></p>

		<p><%= label_tag 'email' %><br/>
		<%= f.text_field :email %></p>
	
		<p><%= label_tag 'time_zone' %><br />
		<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all %></p>

		<p><%= label_tag 'change password' %><br/>
		<%= f.password_field :password %></p>

		<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
		<%= f.password_field :password_confirmation %></p>

		<p><%= submit_tag 'Update' %></p>
	<% end -%>
</div>