<div id="workspace-header1" style="background-color: #303030;">
	<div id="blue-icons">
		<%# New Business %>
		<%= link_to 'Back', user_associations_path %>
	</div>
	<%# workspace-header1 title %>
	<strong>New user_association</strong>
</div>

<% form_for(@user_association) do |f| %>
  <%= f.error_messages %>
	
	<p>
		<%= f.label :user_id, "User id:" %>
		<%= f.text_field :user_id, :size => 5 %>
	</p>

	<p>
		<%= f.label :business_id, "Business:" %> <%= session[:business_name] %>
		(<%= f.text_field :business_id, :value => session[:business_id], :size => 5, :disabled => "disabled" %>)
		<%= f.hidden_field :business_id, :value => session[:business_id] %>
	</p>
	
	<p>
		<%= f.label :administrator %>
		<%= f.check_box :administrator %>
	</p>
	
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', user_associations_path %>
