<div id="workspace-header-black">
	<div id="notice" style="float:right;visibility:hidden;">...</div>
	<div id="blue-icons">
		<span id = "newbutton">
			<%= link_to image_tag('/images/001_01.png', :size => "16x16"),
				url_for(:action => :new)
			%>
		</span>
	</div>
	<div id="efforttitle"><strong>Projects</strong></div>
</div>

<p>
	<strong>Business:</strong>
	<%=h session[:business_name] %> (<%=h current_subdomain %>)
</p>

<table width="100%">
<% for project in @projects %>
  <tr>
    <td width="32px">
			<div id="avatar">
				<%= image_tag project.user.avatar.url(:thumb), :size => "24x24" %>
			</div>
		</td>
    <td width="*"><%= link_to project.name, project %> - <%=h project.description %></td>
    <td width="32px"><%= link_to image_tag('/images/001_45.png', :size => "16x16"), edit_project_path(project) %></td>
    <td width="32px"><%= link_to link_to image_tag('/images/001_02.png', :size => '16x16'), project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div id="clear-both-top-dotted" style="background-color:#FFFFFF">&nbsp;</div>

<p>
	<strong>Are you using internal efforts, without attaching them to a particular project?</strong><br />
	Check the <%= link_to "internal effort's timesheet here", :controller => "projects", :action => "show", :id => "0" %>.
</p>

<br />

