<div id="workspace-header1" style="background-color: #303030;">
	<div id="blue-icons">
		<%= link_to 'Edit', edit_project_path(@project) unless params[:id].to_i == 0 %> |
		<%= link_to 'Back', projects_path %>
	</div>
	<strong><%=h @project.name %></strong> 
	<% if @project.id.to_i > 0 %>
		administered by <%=h @project.user.login %>
	<% end %>
</div>

<%= debug params %>

<p>
  <b>Description:</b><br />
  <%=h @project.description %>
</p>


<div id="workspace-header1" style="background-color: #303030;">
	<div id="blue-icons">
	</div>

	<% form_tag @project, :method => :get do %>
		<strong>Timesheet</strong>
		&nbsp;&nbsp;
		from:
		<%= calendar_date_select_tag "from_calendar_date", @from_calendar_date %>
		&nbsp;&nbsp;
		to:
		<%= calendar_date_select_tag "to_calendar_date", @to_calendar_date %>
		
		<%= submit_tag 'Go', :name => nil %>
	<% end %>

</div>

<br />

<% (@from_calendar_date.year..@to_calendar_date.year).each do |year| -%>

	<% from_month = 1 %>
	<% to_month = 12 %>
	<% from_month = @from_calendar_date.month if year == @from_calendar_date.year %>
	<% to_month = @to_calendar_date.month if year == @to_calendar_date.year %>				
	
	<strong>Year:</strong> <%= year %><br />
	
	<% (from_month..to_month).each do |month| %>
		Timesheet <%= Date::new(year, month) %> - <%= Date::new(year, month, -1) %>
		<table style="margin:0; padding:0;">
			<tr>
				<td style="width:27px;">&nbsp;</td>
				<% for day_of_month in 1..Date::new(year, month, -1).day -%>
					<td style="width:18px; text-align:right; border-style: dotted;
					border-width: thin; border-color: #b2b2b2;margin:0; padding:0;">
						<%=h day_of_month %>
					</td>
				<% end -%>
			</tr>
	
			<% for user in @users -%>
			<tr>
				<td style="width:27px; text-align:right; border-style: dotted;
				border-width: thin; border-color: #b2b2b2;margin:0; padding:0;">
						<%= image_tag user.avatar.url(:thumb), :size => "24x24", :alt => "#{user.login}", :title => "#{user.login}" %>
				</td>
		
					<% for day_of_month in 1..Date::new(year, month, -1).day -%>
						<% if effort_in_day(user.id, @business.id, @project.id, year, month, day_of_month) > 0 -%>
							<td style="text-align:right; border-style: dotted;
							border-width: thin; border-color: #b2b2b2; background-color:green;">
								&nbsp;
							</td>
						<% else -%>
							<td style="text-align:right; border-style: dotted;
							border-width: thin; border-color: #b2b2b2;">
								&nbsp;
							</td>
						<% end -%>
					<% end -%>
			</tr>
			<% end -%>
		</table>
		<br />
	<% end -%>
<% end -%>

<div style="clear:both;">&nbsp;</div>

<% content_for(:sidebar) do -%>
	<div style="color:black;"><u><strong>PROJECT SIDEBAR</strong></u></div>
	<br />
	<div style="color:black;"><u>STATISTICS</u></div>
	<div style="border-bottom: thin dotted white; width:100%">
		A total of <%= pluralize @efforts.size, 'effort' %> are recorded,<br />
		summing up over <%= pluralize (@total_time_spent_on_efforts / 3600).to_i, 'hour' %>.
	</div>
<% end -%>