<div id="workspace-header1">
	<div id="notice" style="float:right;visibility:hidden;">...</div>
	<div id="blue-icons">
		<%# New Effort %>
		<% if params[:page] %>
			<%= link_to_remote image_tag('/images/001_05.png', :size => "16x16"),
				{ :url => url_for("/efforts/index?page=#{params[:page]}"),
				:loading => "$('indicator').show()",
				:complete => "$('indicator').hide()" },
				{ :href => url_for(:action => "index") }
			%>
		<% else %>
			<%= link_to_remote image_tag('/images/001_05.png', :size => "16x16"),
				{ :url => url_for("/efforts/index"),
				:loading => "$('indicator').show()",
				:complete => "$('indicator').hide()" },
				{ :href => url_for(:action => "index") }
			%>
		<% end %>
	</div>
	<%# workspace-header1 title %>
	<div id="efforttitle" style="font-size:12px;"><strong>Edit effort ID<%= @effort.id %></strong> - <%= truncate(@effort.body, { :length => 37 }) %> (by <%= @effort.user.login %>)</div>
	
</div>
<div style="margin:0; padding:0; ">
<% form_remote_for(@effort , :html => { :id => 'edit_effort_form' }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :cols => 40, :rows => 4 %>
  </p>
  <p>
    <%= f.label :start %>
    <%= f.datetime_select :start %><br />
    <%= f.label :stop %>
    <%= f.datetime_select :stop %><br />

		<%= f.label :project %>
		<% if session[:project_id] && session[:project_name] %>
    	<%= f.select(:project_id, @effort.find_all_projects(session[:user_id], session[:business_id]), :selected => session[:project_id], :include_blank => true) %>
		<% else %>
    	<%= f.select(:project_id, @effort.find_all_projects(session[:user_id], session[:business_id]), :include_blank => true) %>
		<% end %>
		<%= f.label :billable %>
	  <%= f.check_box :billable %>
  </p>
  <p>
		<% if params[:page] %>
			<%= hidden_field_tag 'page', params[:page] %>
		<% end %>
    <%= f.submit "Update" %>
  </p>
<br />
<% end %>
</div>
