<div id="workspace-header1" style="text-align:right;">
	<%= will_paginate @Efforts, :renderer => 'RemoteLinkRenderer', :params => {:remote => {:update => 'effortsurl'}} %>
</div>

<ul id="effortsul">
<% for effort in @efforts %>
  <li>
		<div id="avatar">
			<%= image_tag effort.user.avatar.url(:thumb), :size => "24x24" %>
		</div>
    <div id="text">
			<%= link_to '"' + truncate(effort.body, 37) + '"', effort %>
			<br />
			Started <%=h  time_ago_in_words(effort.start) %> ago by <%=h effort.user.login %>.
		</div>
		<div id="right">
			<div id="duration">
				<%= hh_mm(effort.start, effort.stop) %>
			</div>
			<% if effort.stop %>
				<div id = "status-tag-done"><%= link_to 'done', edit_effort_path(effort) %></div>
			<% else %>
			<div id = "status-tag-wip"><%= link_to 'wip', edit_effort_path(effort) %></div>
			<% end %>

	    <div id="delete-icon">
				<%= link_to image_tag('/images/001_02.png', :size => '16x16'), 
					effort, 
					:confirm => 'Are you sure?', 
					:method => :delete %>
			</div>
		</div>
  </li>
	<div id="clear-both-top-dotted">&nbsp;</div>
<% end %>
</ul>

<div id="workspace-header1" style="text-align:right;">
	<%= will_paginate @Efforts, :renderer => 'RemoteLinkRenderer', :params => {:remote => {:update => 'effortsurl'}} %>
</div>
