<div id = "listefforts">
	<div id="workspace-header1" style="text-align:right;">
		<%= will_paginate @Efforts, :renderer => 'RemoteLinkRenderer', :params => {} %>
	</div>
	<div id="clear-both-top-dotted">&nbsp;</div>
	<ul id="effortsul" style="margin:0; padding:0;">
	<% for effort in @efforts %>
	  <li id="effortid<%= effort.id.to_s %>" style="margin:0;padding:0;background-color:#F0F0F0;">
			<div style="margin:0;padding:0;background-color:#FFFFFF;overflow:auto;">
				<div id="avatar">
					<%= image_tag effort.user.avatar.url(:thumb), :size => "24x24" %>
				</div>
		    <div id="text">
					<% if params[:page] %>
						<%= link_to_remote '"' + truncate(effort.body, { :length => 37 }) + '"', 
						{ :url => url_for('/efforts/show/' + effort.id.to_s + "?page=" + params[:page].to_s),
						:loading => "$('indicator').show()",
						:complete => "$('indicator').hide()" }, 
						{ :href => url_for(effort) } %>
					<% else %>
						<%= link_to_remote '"' + truncate(effort.body, { :length => 37 }) + '"', 
						{ :url => url_for('/efforts/show/' + effort.id.to_s),
						:loading => "$('indicator').show()",
						:complete => "$('indicator').hide()" }, 
						{ :href => url_for(effort) } %>
					<% end %>
					<% if effort.stop %>
						<% if effort.billable == true %>
							- billable work
						<% else %>
							- non-billable work
						<% end %>
					<% else %>
						- work in progress
					<% end %>
					<% if effort.project_id %>
						on <%= link_to "#{effort.project.name}", effort.project %>
					<% else %>
						as <%= link_to "internal effort", :controller => "projects", :action => "show", :id => "0" %>
					<% end %>
					<br />
					Started <%=h  time_ago_in_words(effort.start) %> ago by <%=h effort.user.login %>.
				</div>
				<div id="right">
					<div id="duration">
						<%= hh_mm(effort.start, effort.stop) %>
					</div>
					<% if effort.stop %>
						<% if effort.billable == true %>
							<div id = "status-tag-bw">
								<% if params[:page] %>
									<%= link_to_remote 'bw',
										{ :url => url_for('/efforts/edit/' + effort.id.to_s + "?page=" + params[:page].to_s),
										:loading => "$('indicator').show()",
										:complete => "$('indicator').hide()" },
										{ :href => url_for(edit_effort_path(effort)) } 
									%>
								<% else %>
									<%= link_to_remote 'bw',
										{ :url => url_for('/efforts/edit/' + effort.id.to_s),
										:loading => "$('indicator').show()",
										:complete => "$('indicator').hide()" },
										{ :href => url_for(edit_effort_path(effort)) } 
									%>
								<% end %>
								<%= image_tag('/images/001_45.png', :size => "16x16") %>
							</div>
						<% else %>
						<div id = "status-tag-nbw">
							<% if params[:page] %>
								<%= link_to_remote 'nbw',
									{ :url => url_for('/efforts/edit/' + effort.id.to_s + "?page=" + params[:page].to_s),
									:loading => "$('indicator').show()",
									:complete => "$('indicator').hide()" },
									{ :href => url_for(edit_effort_path(effort)) } 
								%>
							<% else %>
								<%= link_to_remote 'nbw',
									{ :url => url_for('/efforts/edit/' + effort.id.to_s),
									:loading => "$('indicator').show()",
									:complete => "$('indicator').hide()" },
									{ :href => url_for(edit_effort_path(effort)) } 
								%>
							<% end %>
							<%= image_tag('/images/001_45.png', :size => "16x16") %>
						</div>						
						<% end %>
					<% else %>
						<div id = "status-tag-wip">
							<% if params[:page] %>
								<%= link_to_remote 'wip',
									{ :url => url_for('/efforts/edit/' + effort.id.to_s + "?page=" + params[:page].to_s),
									:loading => "$('indicator').show()",
									:complete => "$('indicator').hide()" },
									{ :href => url_for(edit_effort_path(effort)) } 
								%>
							<% else %>
								<%= link_to_remote 'wip',
									{ :url => url_for('/efforts/edit/' + effort.id.to_s),
									:loading => "$('indicator').show()",
									:complete => "$('indicator').hide()" },
									{ :href => url_for(edit_effort_path(effort)) } 
								%>
						<% end %>
						<%= image_tag('/images/001_45.png', :size => "16x16") %>
					</div>
					<% end %>

			    <div id="delete-icon">
						<%= link_to image_tag('/images/001_02.png', :size => '16x16'), 
							effort, 
							:confirm => 'Are you sure?', 
							:method => :delete %>
					</div>
				</div>
	 		</div>
			<div id="clear-both-top-dotted" style="background-color:#FFFFFF">&nbsp;</div>
	 </li>
	<% end %>
	</ul>

	<div id="workspace-header1" style="text-align:right;">
		<%= will_paginate @Efforts, :renderer => 'RemoteLinkRenderer', :params => {} %>
	</div>
</div>
