<div id="workspace-header-blue">
	<div id="notice" style="float:right;visibility:hidden;">...</div>
	<div id="blue-icons">
		<%# New Effort %>
		<% if params[:page] %>
			<%= link_to_remote image_tag('/images/001_05.png', :size => "16x16"),
				{ :url => url_for("/efforts/index?page=#{params[:page]}"),
				:loading => "$('indicator').show()",
				:complete => "$('indicator').hide()" },
				{ :href => url_for(:action => "index") }
			%>
		<% else %>
			<%= link_to_remote image_tag('/images/001_05.png', :size => "16x16"),
				{ :url => url_for("/efforts/index"),
				:loading => "$('indicator').show()",
				:complete => "$('indicator').hide()" },
				{ :href => url_for(:action => "index") }
			%>
		<% end %>
	</div>
	<%# workspace-header1 title %>
	<div id="efforttitle" style="font-size:12px;"><strong>Show details of effort ID<%= @effort.id %></strong> - <%= truncate(@effort.body, {:length => 37}) %> (by <%= @effort.user.login %>)</div>
	
</div>
<div style="margin:0; padding:0;">

<p>
  <b>Body:</b>
  <%=h @effort.body %>
</p>

<p>
  <b>Start:</b>
  <%=h @effort.start %>
</p>

<p>
  <b>Stop:</b>
  <%=h @effort.stop %>
</p>

<% if @effort.project_id %>
<p>
  <b>Project:</b>
  <%=h @effort.project.name %>
</p>
<% end %><br />

</div>