<div id="workspace-header1" style="background-color: #303030;">
	<div id="notice" style="float:right;visibility:hidden;">...</div>
	<div id="blue-icons">
		<%# New Effort %>
		<span id = "newbutton">

			<%= link_to_remote image_tag('/images/001_01.png', :size => "16x16"),
				{ :url => { :action => "new" } }, 
				{ :href => url_for(:action => :new) }
			%>

		</span>

		<%# Find Effort %>
		&nbsp; <%= link_to_remote image_tag('/images/001_38.png', :size => "16x16"), :url => { :action => :new }, :update => 'neweffort' %>
	</div>
	<%# workspace-header1 title %>
	<div id="efforttitle"><strong>Efforts</strong></div>
</div>


<div id="workspace-body">
	<div id="neweffort" style="padding:0px; background-color:#5A9ECF; height:auto; overflow:auto;border-bottom:thin dotted #FFFFFF; color:white;">
		<%#= render :action => "new" %>
	</div>
	
	<div id="clear-both"></div>

	<div id="listefforts" style="padding:0; margin:0;">
		<%= render :partial => "index" %>
	</div>
</div>

<% content_for(:sidebar) do -%>
	<div style="color:black;"><u><strong>EFFORTS SIDEBAR</strong></u></div>
	<br />
	<div style="color:black;"><u>BUSINESS FACTS</u></div>
	<div style="border-bottom: thin dotted white; width:100%">
		Current business: <%= truncate session[:business_name], :length => 25 %><br />
		<div style="float:left;"><%= image_tag('/images/001_12.png', :size => "16x16") %> </div>
		<div style="float:left;">&nbsp; You have <%= link_to pluralize(@no_of_messages, 'message'), :controller => "messages" %> in your inbox.</div>
		<br />
	</div>
	<br />
	
	<div style="color:black;"><u>STATISTICS</u></div>
	<div style="border-bottom: thin dotted white; width:100%">
		A total of <%= pluralize @efforts_size, 'effort' %> are recorded.
	</div>
<% end -%>
