<h2>Listing efforts</h2>

<%= link_to 'New effort', new_effort_path %>

<table>
<% for effort in @efforts %>
  <tr>
    <td><%=h effort.body %></td>

    <td><%= link_to 'Show', effort %></td>
    <td><%= link_to 'Edit', edit_effort_path(effort) %></td>
    <td><%= link_to 'Destroy', effort, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New effort', new_effort_path %>
