<div style="background-color:#FFFFFF;">
	<div style="float:left; width:180px;">
		&nbsp;<br />
		Billable:<br />
		Non-billable:
	</div>
	<div style="float:left; width:180px;">
		<strong>Today:</strong><br />
		34h<br />
		30h
	</div>
	<div style="float:left; width:180px;">
		<strong>This week:</strong><br />
		34h<br />
		30h
	</div>
	<div style="float:left; width:180px;">
		<strong>This month:</strong><br />
		34h<br />
		30h
	</div>
	<div style="clear:both;"></div>
</div>
<div style="background-color:#FFFFFF;">
	<div style="float:left; width:180px; border-top: thin dotted #DDDDDD;">
		<strong>Total:</strong>
	</div>
	<div style="float:left; width:180px; border-top: thin dotted #DDDDDD;">
	</div>
	<div style="float:left; width:180px; border-top: thin dotted #DDDDDD;">
	</div>
	<div style="float:left; width:180px; border-top: thin dotted #DDDDDD;">
	</div>
	<div style="clear:both;"></div>
</div>

<div style="clear:both;border-top: thin dotted #DDDDDD;">&nbsp;</div>

<ul style="list-style: none;margin:0;padding:5px;">
<% for effort in @efforts_today %>
  <li style="margin:0; padding:5px;">
		<div style="float:left; margin-top:5px;">
			<%= image_tag effort.user.avatar.url(:thumb), :size => "25x25" %>
		</div>
    <div style="float:left; margin-left: 10px; margin-bottom: 10px; width: 495px; font-size: 12px;">
			<%= link_to '"' + truncate(effort.body, 37) + '"', effort %>
			<br />
			Started <%=h  time_ago_in_words(effort.start) %> ago by <%=h effort.user.login %>.
		</div>
		<div style="float:left; margin-right:10px; padding: 3px; width: 100px; text-align: right; font-size: 12px;">
			<%= hh_mm(effort.start, effort.stop) %>
		</div>
		<% if effort.stop %>
			<div id = "status-tag-done"><%= link_to 'done', edit_effort_path(effort) %></div>
		<% else %>
			<div id = "status-tag-wip"><%= link_to 'wip', edit_effort_path(effort) %></div>
		<% end %>

    <div id="delete-x">
			<%= link_to 'X', effort, 
				:confirm => 'Are you sure?', 
				:method => :delete %>
		</div>
  </li>
	<div style="clear:both;border-top: thin dotted #DDDDDD;">&nbsp;</div>
<% end %>
</ul>

