<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>w2task (Your Web 2.0 Task Manager) - <%= controller.controller_name %> / <%= controller.action_name %> - <%= current_subdomain %></title>
  <%= stylesheet_link_tag 'scaffold', 'w2task' %>
	<%= javascript_include_tag :defaults, 'bojicas' %>
</head>
<body>

	<%# >>> HEADER-WRAPPER %>
	<div id="header-wrapper">
		<div id="admin-menu">
			<div style="float:right;">
				&nbsp;
				<%= link_to image_tag('/images/001_61.png', :style => "margin-top:1px;"),
					"http://support.w2tsask.com/", :target => "_blank" 
				%>
			</div>
			<div style="float:right;">
				Howdy, you are logged in as 
				<em><%= link_to session[:user_login], :controller => 'users', :action => 'edit', :id => session[:user_id] %></em>! &nbsp;
				<%= link_to 'Logout', :controller => 'logout' %> &nbsp; 
			</div>
		</div>
		<br />
		<h1><%=h truncate session[:business_name], :length => 35 %> - <%=h @page_title || "Dashboard" %></h1>
		<div id="clear-both">&nbsp;</div>
		<div id="main-menu-left-wrapper">
			<%= link_to '&radic; &nbsp;Efforts', efforts_url, :id => "main-menu" %>
			<%= link_to 'Projects', projects_url, :id => "main-menu" %>
			<%= link_to 'Reports', efforts_url, :id => "main-menu" %>
		</div>
		<div id="main-menu-right-wrapper">
			<%# lic might work better, but in this moment I can't get :id => "main menu" working %>
			<%= link_to 'Message Center', '/messages', :id => 'main-menu' %>
			<%= link_to 'Administration Panel', '/administration', :id => 'main-menu', :style => "background-color: #303030; z-index:-10000;" %>
		</div>
		<div style = "background-color:#1A4F85; clear:both; height:5px; padding-top:2px; z-index:100;"></div>
	</div>
	<%# <<< HEADER-WRAPPER %>

	<div style="min-width:1024px; margin:0; padding:0;">
			
		<%# WORKSPACE-WRAPPER >>> %>
		<div id="workspace-wrapper">
			<%= yield %>
		</div>
		<%# <<< WORKSPACE-WRAPPER %>
		
		<%# >>> SIDEBAR-WRAPPER %>
		<div id="sidebar-wrapper">
			<div id="flash-wrapper">
			<p id="flash-notice"><%= flash[:notice] %></p>
			<p id="flash-error"><%= flash[:error] %></p>
			</div>
			<%= yield :sidebar %>
		</div>
		<%# <<< SIDEBAR-WRAPPER %>

	</div>

<%= render :partial => "/layouts/copyright" %>
</body>
</html>
