<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Efforts: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'w2task' %>
</head>
<body>

<div style="background-color: #5A9ECF; margin: 0;">
	<div style="float:right; color:white; padding-right:15px;">Howdy, user! &nbsp; <%= link_to 'Logout', 'logout', :id => "logout-menu" %> &nbsp; Help</div><br />
	
	<h1 style="color:white; font-weight:normal; margin:0; margin-left:15px; padding:0;"><%=h @page_title || "Dashboard" %></h1>
	<div style="clear:both;">&nbsp;</div>
	
	
	<div style="float:left; margin-left: 15px; padding:0;">
		<%= link_to 'Efforts', efforts_url, :id => "main-menu" %>
	</div>
	<div style = "background-color: #1A4F85; clear:both; height:5px; padding-top:3px;"><br /></div>
</div>

<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:error] %></p>

<div style="width:1010px; margin:0; padding:0;">
	<div style="float:right; width: 235px; margin:0; padding:0; color:grey;">
		PROJECTS:
	</div>
	
	<div style="vertical-align: top; list-style: none; margin: 15px; padding:0;width:750px; background-color:white;">
		<%= yield  %>
	</div>
</div>

<div style="float:left;background-color: #CCCCCC; width:750px; text-align:center; margin:15px;">
	<div style="float:left;width:650px;">
		<br />&copy; 2008 w2task.com. Programming by Silviu D. Bojica
		<br />All rights reserved.
		<br /><br />
	</div>
	<div style="float:right; margin-right:10px;">
		<br />
		<a href="http://www.joyent.com" alt="Accelerated by Joyent"><img src="http://joyent.bingodisk.com/bingo/public/badges/88x31-acceleratedByJoyent-L.png" width="88" height="31" border="0" /></a>
	</div>
</div>

<div style="clear: both;"></div>

</body>
</html>
