<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>w2task (Your Web 2.0 Task Manager) - <%= controller.controller_name %> / <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'scaffold', 'w2task' %>
	<%= javascript_include_tag 'bojicas' %>
</head>
<body>

<% if current_subdomain %>
	<br />
	<div id="flash-wrapper1" style="width:250px; margin-left:20px;">
		<% form_tag session_path do -%>
			<fieldset>
				<legend id="legend"><strong>Member? Please, log in!</strong></legend>
				<p>Business: <%= current_subdomain %></p>
				<p><%= label_tag 'login' %><br />
				<%= text_field_tag 'login', @login %></p>

				<p><%= label_tag 'password' %><br/>
				<%= password_field_tag 'password', nil %></p>

				<!-- Uncomment this if you want this functionality -->
				<p><%= label_tag 'remember_me', 'Remember me' %>
				<%= check_box_tag 'remember_me', '1', @remember_me %></p>

				<p><%= submit_tag 'Log in' %></p>
			</fieldset>
		<% end -%>
	</div>
	
<% else %>

	<%# >>> HEADER-WRAPPER %>
	<div id="header-wrapper">
		<br />
		<h1>w2task beta</h1>
		<div id="clear-both">&nbsp;</div>
		<div style = "background-color: #1A4F85; clear:both; height:5px; padding-top:3px;"><br /></div>
	</div>
	<%# <<< HEADER-WRAPPER %>

	<div style="min-width:1024px; margin:0; padding:0;">
			
		<%# WORKSPACE-WRAPPER >>> %>
		<div id="workspace-wrapper">
			<%= yield %>
		</div>
		<%# <<< WORKSPACE-WRAPPER %>
		
		<%# >>> SIDEBAR-WRAPPER %>
		<div id="sidebar-wrapper">
			<div id="flash-wrapper">
			<p id="flash-notice"><%= flash[:notice] %></p>
			<p id="flash-error"><%= flash[:error] %></p>
			</div>
			<%= yield :sidebar %>
		</div>
		<%# <<< SIDEBAR-WRAPPER %>

	</div>

	<%= render :partial => "/layouts/copyright" %>

<% end %>
</body>
</html>
